@import "../../variables.scss";

.info-wrapper {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	.image-holder {
		height: 285px;
		background-image: url("../../assets/images/mobile/image-transform.jpg");
		background-position: center;
		background-size: cover;
	}

	.text-holder {
		text-align: center;
		padding: 1em;
		h3 {
			font-family: $fraunces-font-family;
			margin-top: 2em;
			font-size: 2em;
		}

		p {
			color: $very-dark-grayish-blue;
			padding: 1em;
			margin: 1em 0;
			font-weight: 600;
		}

		a {
			color: black;
			font-family: $fraunces-font-family;
			font-size: 1.5em;
			box-shadow: inset 0px -9px $yellow;
			text-decoration: none;
		}
	}
}

@media (min-width: 768px) {
	.info-wrapper {
		width: 100%;
		flex-direction: row-reverse;
		height: 590px;
		margin: 0;
		.image-holder {
			width: 50%;
			height: 100%;
			background-image: url("../../assets/images/desktop/image-transform.jpg");
		}
		.text-holder {
			width: 50%;
			text-align: left;
			padding: 5em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h3 {
				margin: 0;
				font-size: 2.3em;
				align-self: flex-start;
				padding-right: 1em;
			}
			p {
				font-size: 1em;
				padding: 0;
			}
			a {
				align-self: flex-start;
			}
		}
	}
}

@media (min-width: 1024px) {
	.info-wrapper > .text-holder {
		h3 {
			font-size: 3.3em;
		}
		p {
			font-size: 1.3em;
		}
	}
}
